
<div class="content">

  <div class="countdown">
    <div class="bloc-time days">
      <span class="count-title">Jours</span>
      <div class="figures">
        <div class="figure days days-1">
          <span class="top">{{days1}}</span>
          <span class="top-back">
            <span>{{days1}}</span>
          </span>
          <span class="bottom">{{days1-1}}</span>
          <span class="bottom-back">
            <span>{{days1-1}}</span>
          </span>
        </div>

        <div class="figure days days-2">
          <span class="top">{{days2}}</span>
          <span class="top-back">
            <span>{{days2}}</span>
          </span>
          <span class="bottom">{{days2-1}}</span>
          <span class="bottom-back">
            <span>{{days2-1}}</span>
          </span>
        </div>

        <div class="figure days days-3">
          <span class="top">{{days3}}</span>
          <span class="top-back">
            <span>{{days3}}</span>
          </span>
          <span class="bottom">{{days3-1}}</span>
          <span class="bottom-back">
            <span>{{days3-1}}</span>
          </span>
        </div>
      </div>

    </div>

    <div class="bloc-time hours">
      <span class="count-title">Heures</span>
      <div class="figures">
        <div class="figure hours hours-1">
          <span class="top">{{hours1}}</span>
          <span class="top-back">
            <span>{{hours1}}</span>
          </span>
          <span class="bottom">{{hours1-1}}</span>
          <span class="bottom-back">
            <span>{{hours1-1}}</span>
          </span>
        </div>

        <div class="figure hours hours-2">
          <span class="top">{{hours2}}</span>
          <span class="top-back">
            <span>{{hours2}}</span>
          </span>
          <span class="bottom">{{hours2-1}}</span>
          <span class="bottom-back">
            <span>{{hours2-1}}</span>
          </span>
        </div>
      </div>

    </div>

    <div class="bloc-time min">
      <span class="count-title">Minutes</span>
      <div class="figures">

        <div class="figure min min-1">
          <span class="top">{{minutes1}}</span>
          <span class="top-back">
            <span>{{minutes1}}</span>
          </span>
          <span class="bottom">{{minutes1-1}}</span>
          <span class="bottom-back">
            <span>{{minutes1-1}}</span>
          </span>
        </div>

        <div class="figure min min-2">
          <span class="top">{{minutes2}}</span>
          <span class="top-back">
            <span>{{minutes2}}</span>
          </span>
          <span class="bottom">{{minutes2-1}}</span>
          <span class="bottom-back">
            <span>{{minutes2-1}}</span>
          </span>
        </div>
      </div>
    </div>

    <div class="bloc-time sec">
      <span class="count-title">Secondes</span>
      <div class="figures">

        <div class="figure sec sec-1">
          <span class="top">{{seconds1}}</span>
          <span class="top-back">
            <span>{{seconds1}}</span>
          </span>
          <span class="bottom">{{seconds1-1}}</span>
          <span class="bottom-back">
            <span>{{seconds1-1}}</span>
          </span>
        </div>

        <div class="figure sec sec-2">
          <span class="top">{{seconds2}}</span>
          <span class="top-back">
            <span>{{seconds2}}</span>
          </span>
          <span class="bottom">{{seconds2-1}}</span>
          <span class="bottom-back">
            <span>{{seconds2-1}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>