html {
    height: 100%;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrap {
    margin: auto;
    height: 3em;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

// Title
h1 {
    margin-bottom: 6em;
    text-align: center;
    font: 300 2.25em "Lato";
    text-transform: uppercase;

    strong {
        font-weight: 400;
        color: #d6003d;
    }
}

h2 {
    margin-bottom: 8em;
    text-align: center;
    font: 600 0.7em "Lato";
    text-transform: uppercase;

    strong {
        font-weight: 700;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2em !important;
        font-weight: 500 !important;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 1.5em !important;
    }
}
