html {
    height: 100%;
    body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrap {
    margin: auto;
    height: 310px;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

// Title
h1 {
    margin-bottom: 60px;
    text-align: center;
    font: 300 2.25em "Lato";
    text-transform: uppercase;

    strong {
        font-weight: 400;
        color: #ff9d52;
    }
}

h2 {
    margin-bottom: 80px;
    text-align: center;
    font: 300 0.7em "Lato";
    text-transform: uppercase;

    strong {
        font-weight: 400;
    }
}
